<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Status>
            <version>0.1.0</version>
        </Aligent_Status>
    </modules>
    <global>
        <models>
            <aligent_status>
                <class>Aligent_Status_Model</class>
                <resourceModel>aligent_status_resource</resourceModel>
            </aligent_status>
            <aligent_status_resource>
                <class>Aligent_Status_Model_Resource</class>
            </aligent_status_resource>
        </models>
        <blocks>
            <aligent_status>
                <class>Aligent_Status_Block</class>
            </aligent_status>
        </blocks>
        <helpers>
            <aligent_status>
                <class>Aligent_Status_Helper</class>
            </aligent_status>
        </helpers>
    </global>
    <frontend>
        <routers>
            <status>
                <use>standard</use>
                <args>
                    <frontName>status</frontName>
                    <module>Aligent_Status</module>
                </args>
            </status>
        </routers>
    </frontend>
</config>